body {
  background: #F6F7F8 0% 0% no-repeat padding-box;
  margin: 0;
  padding: 18px;
  max-width: 100vw;
}

span, p, a, h2, h3, td, .btn {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-072635);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-manrope);
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
}

.container-small {
  padding: 16px;
  border-radius: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E3E4E6; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--unnamed-color-072635) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}
